<% quotes ||= [] %>
<% width ||= 6 %>
<% pagination_param ||= :page %>
<% query ||= nil %>

  <div class="col-xs-12">
    <% begin %>
        <%= paginate(quotes, param_name: pagination_param) if(!quotes.is_a?(Array)) %>
    <% rescue %>
    <% end %>
  </div>

  <% quotes.each_with_index do |quote, i| %>
      <%= render partial: 'quotes/show', locals: {quote: quote, width: width, query: query, num: i} %>
  <% end %>

<% if quotes.size == 0 %>
    <%= render 'no_results' %>
<% end %>
