<% quote ||= nil %>
<% width ||= 6 %>
<% mpq = quote %>
<% query ||= nil %>

<% if mpq %>
    <div class="col-xs-12 col-sm-<%=width%>">
      <div class="quote-box">
        <table class="table table-bordered table-responsive">
          <tbody>
            <tr>
              <td>
                <% mpq.quotes.order(order: :asc).each do |q| %>
                    <p class="quote"><%= highlight q.text, query %></p>
                    <p class="attribution"><%= highlight display_person(q.attribution), query %></p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="author">Submitted by: <%= highlight display_person(mpq.author), query %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>