<% quote ||= nil %>
<% width ||= 6 %>

<% if quote  %>
    <div class="col-xs-12 col-sm-<%=width%>">
      <div class="quote-box">
        <table class="table table-bordered table-responsive">
          <tbody>
            <tr>
              <td><span class="quote"><%= quote.text %></span> <p class="attribution"><%= display_person(quote.attribution) %></p></td>
            </tr>
            <tr>
              <td>
                <span class="author">Submitted by: <%= display_person(quote.author) %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>