<% quote ||= nil %>
<% width ||= 6 %>
<% mpq = quote %>

<% if mpq %>
    <div class="col-xs-12 col-sm-<%=width%>">
      <div class="quote-box">
        <table class="table table-bordered table-responsive">
          <tbody>
            <tr>
              <td>
                <% mpq.quotes.each do |q| %>
                    <p class="quote"><%= q.text %></p>
                    <p class="attribution"><%= display_person(q.attribution) %></p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="author">Submitted by: <%= display_person(mpq.author) %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>