<% orders ||= [] %>
<% current_order ||= {} %>
<% path ||= :quotes_path %>

<% orders.each do |order| %>
    <div class="col-sm-3 col-xs-6 sort-bar">
      <% direction = current_order[order] ? current_order[order] : :desc %>
      <% new_direction = direction == :asc ? :desc : :asc %>

      <%= link_to order.to_s.humanize, self.send(path, {order: {order => new_direction}, filter: @filter}), class: "btn btn-default btn-block sortable-#{direction}" %>
    </div>
<% end %>
