<% orders ||= [] %>
<% current_order ||= {} %>
<% path ||= :quotes_path %>

<% orders.each do |order| %>
    <div class="col-sm-3 col-xs-6">
      <% direction = current_order[order] ? current_order[order] : :desc %>
      <% new_direction = direction == :asc ? :desc : :asc %>

      <%= link_to self.send(path, {order: {order => new_direction}, filter: @filter}), class: "btn btn-default btn-block" do %>
          <% icon = current_order[order] ? (current_order[order] == :asc ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down') : 'glyphicon-sort' %>
          <span class="glyphicon <%= icon %>"></span>
          <%= order.to_s.humanize %>
          <span class="glyphicon <%=icon%>"></span>
      <% end %>
    </div>
<% end %>
