<div class="page-header">
  <!--
  <%= link_to edit_quote_path(@quote), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  -->
  <h1>Quote</h1>
</div>

<%= render partial: 'quotes/show', locals: {quote: @quote, width: 12} %>
