<% pagination_param ||= :page %>

    <div class="col-xs-12">
    <% begin %>
        <%= paginate(people, param_name: pagination_param) %>
    <% rescue %>
    <% end %>
  </div>

  <% people.each_with_index do |person, i| %>
      <%= render partial: 'people/show', locals: {person: person, num: i} %>
  <% end %>
