<% pagination_param ||= :page %>

<div class="row">
    <div class="col-xs-12">
    <% begin %>
        <%= paginate(people, param_name: pagination_param) %>
    <% rescue %>
    <% end %>
  </div>

  <% people.each do |person| %>
      <%= render partial: 'people/show', locals: {person: person} %>
  <% end %>
</div>
