@import 'bootstrap-variables';

.table-overflow {
   overflow-x: auto;
 }

 // Layout
 h1.home {
   margin-bottom: 40px;
 }

 .quote-button {
   width: 100%;
 }

 .center {
   text-align: center;
 }

 // Quote-specific

 .quote-box:hover {
   background: #f9f9f9;
 }

 .quote-box {
   text-align: center;
 }

 .quote {
   font-style: italic;
 }

 .attribution {
   font-weight: bold;
 }

 .author {
   font-size: smaller;
   text-align: left;
 }

 .highlight {
   background-color: yellow;
 }

 .full {
   height: 100%;
   width: 100%;
   padding: 15px;
 }

 .full.up-voted {
   background-color: $alert-success-bg;
   color: $alert-success-text;
 }

 .full.dn-voted {
   background-color: $alert-danger-bg;
   color: $alert-danger-text;
 }

 td.vote {
   width: 55px;
   padding: 0px !important;
 }

 .score {
   font-size: x-small;
   padding: 0 !important;
   margin: 0;
 }

 .disabled {
   background: gray;
 }
