@import 'bootstrap-variables';

.table-overflow {
   overflow-x: auto;
 }

 // Layout
 h1.home {
   margin-bottom: 40px;
 }

 .quote-button {
   width: 100%;
   margin-bottom: 20px;
 }

 .center {
   text-align: center;
 }

 // Quote-specific

 .quote-box:hover {
   background: #f9f9f9;
 }

 .quote-box {
   text-align: center;
   overflow-x: auto;
 }

 .quote {
   font-style: italic;
   font-family: serif;
   font-size: large;
 }

 .attribution {
   font-weight: bold;
 }

 .author {
   font-size: smaller;
   text-align: left;
 }

 .highlight {
   background-color: yellow;
 }

 .full {
   height: 100%;
   width: 100%;
   padding: 15px;
   position: relative;
   z-index: 2;
 }

 .full.up-voted {
   background-color: $alert-success-bg;
   color: $alert-success-text;
 }

 .full.dn-voted {
   background-color: $alert-danger-bg;
   color: $alert-danger-text;
 }

 td.vote {
   width: 55px;
   padding: 0px !important;
 }

 .score {
   font-size: x-small;
   padding: 0 !important;
   margin: 0;
 }

 .disabled {
   background: gray;
 }

 // Watermark
.watermark {
  position:absolute;
  display:block;
  min-height:50%;
  min-width:50%;
  color:yellow;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 20px;
}

.watermark span {
  color:lightgrey;
  font-size:120px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20px;
  line-height: 50px;
  color: #d6e4ef;
  font-family: serif;
}

.watermark img {
  color:lightgrey;
  font-size:120px;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #d6e4ef;
  font-family: serif;
  width: 40px;
  opacity: 0.5;

}

.watermark-content {
  position: relative;
  z-index: 1;
  margin-left: 20px;
  margin-top: 10px;
}

.clear {
  clear: left;
}

.watermark .music_note {
  font-size: 50px;
  top: 0px;
}

.sortable {
  text-align: center;
  border: solid 1px;
  width: 100%;
}

/* Filter */

.sort-bar {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
}

.filter-key {
  font-weight: bold;
}

.filter-val {
  margin-right: 10px;
}

.quote-table {
  width: 100%;
}

.quote-col {
  padding: 0 10px 5px 10px;
}

.quote-col.left {
  text-align: right;
  width: 20%;
}

.quote-col.right {
  text-align: center;
}
